* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}
.main {
  height: 100vh;
  background:url("suisai.png") center no-repeat;
  background-size: cover;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  .top {
    .name{
      text-align: center;
      font-size: 50px;
      color: white;
      filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    }
    .contents {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      .button {
        border: none;
        margin: 50px 50px;
        font-size: 20px;
        cursor: default;
      }
    }
  }
}
.profile {
  height: 100vh;
  border-top: 1px solid black;
  padding: 200px 300px;
  display: flex;

  .mine {
    height: 40%;
  }
}