@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .top .name {
  text-align: center;
  font-size: 50px;
  color: black;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.main .top .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.main .top .contents .button {
  border: none;
  margin: 50px 50px;
  font-size: 20px;
  cursor: default;
}

.profile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .mine {
  height: 30%;
}

.profile .introduction {
  margin-left: 70px;
}

.profile .introduction .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.profile .introduction .links .link {
  color: black;
  padding-right: 15px;
  font-weight: bold;
}

.profile .introduction .skill {
  margin-top: 30px;
}

.profile .introduction .skill .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .introduction .skill .type p {
  padding: 5px 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: default;
}

.profile .introduction .skill .type .front {
  background-color: #164a84;
  color: white;
}

.profile .introduction .skill .type .other {
  border-right: 2px solid black;
}

.profile .introduction .skill .item {
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  height: 168px;
}

.profile .introduction .skill .item .ul li {
  line-height: 20px;
}

.profile .introduction .skill .item .backlist, .profile .introduction .skill .item .otherlist {
  display: none;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 80px;
}

.app .mineApp {
  text-decoration: none;
  color: black;
  width: 25%;
  margin: 0 10px;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.app .mineApp .pic {
  width: 100%;
}

.app .mineApp .explanation {
  background-color: #f4f4f4;
  text-align: center;
  font-size: 11px;
  height: 180px;
  padding-top: 6px;
}

.app .mineApp .explanation .appname {
  font-weight: bold;
  font-size: 12px;
  display: block;
}

.app .mineApp .explanation .function {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.app .mineApp:hover {
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.4));
}

.app .mineApp:active {
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
  top: 6px;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contactp {
  text-align: center;
  font-size: 18px;
}

.contact .contactp .contactlink {
  color: black;
  font-weight: bold;
  padding-top: 20px;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.contact .contactp .contactlink .twitterpic {
  height: 120px;
  margin: 40px 0 10px;
}

.contact .contactp .contactlink:hover {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.showbtns {
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
}

.showbtns .showbtn {
  margin-bottom: 40px;
  cursor: default;
}
/*# sourceMappingURL=index.css.map */