* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  .top {
    .name{
      text-align: center;
      font-size: 50px;
      color: black;
      filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    }
    .contents {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      .button {
        border: none;
        margin: 50px 50px;
        font-size: 20px;
        cursor: default;
      }
    }
  }
}
.profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .mine {
    height: 30%;
  }
  .introduction {
    margin-left: 70px;
    .links {
      display: flex;
      margin-top: 20px;
      .link {
        color: black;
        padding-right: 15px;
        font-weight: bold;
      }
    }
    .skill {
      margin-top: 30px;
      .type {
        display: flex;
        p {
          padding: 5px 10px;
          border-top: 2px solid black;
          border-left: 2px solid black;
          cursor: default;
        }
        .front {
          background-color: #164a84;
          color: white;
        }
        .other {
          border-right: 2px solid black;
        }
      }
      .item {
        width: 100%;
        border: 2px solid black;
        padding: 10px;
        height: 168px;
        .ul {
          li {
            line-height: 20px;
          }
        }
        .backlist, .otherlist {
          display: none;
        }
      }
    }
  }
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 80px;
  .mineApp {
    text-decoration: none;
    color: black;
    width: 25%;
    margin: 0 10px;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.4));
    .pic {
      width: 100%;
    }
    .explanation {
      background-color: #f4f4f4;
      text-align: center;
      font-size: 11px;
      height: 180px;
      padding-top: 6px;
      .appname {
        font-weight: bold;
        font-size: 12px;
        display: block;
      }
      .function {
        text-align: left;
        width: 50%;
        margin: 0 auto;
      }
    }
  }
  .mineApp:hover {
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.4));
  }
  .mineApp:active {
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
    top: 6px;
  }
}
.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .contactp {
    text-align: center;
    font-size: 18px;
    .contactlink {
      color: black;
      font-weight: bold;
      padding-top: 20px;
      filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
      .twitterpic {
        height: 120px;
        margin: 40px 0 10px;
      }  
    }
    .contactlink:hover {
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.4));
    }
  }
}
.showbtns {
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
  .showbtn {
    margin-bottom: 40px;
    cursor: default;
  }
}