* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}
.main {
  height: 100vh;
  background:url("suisai.png") center no-repeat;
  background-size: cover;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  .top {
    .name{
      text-align: center;
      font-size: 50px;
      color: white;
      filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    }
    .contents {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      .button {
        border: none;
        margin: 50px 50px;
        font-size: 20px;
        cursor: default;
      }
    }
  }
}
.profile {
  height: 100vh;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  .mine {
    height: 30%;
  }
  .introduction {
    margin-left: 50px;
    .skill {
      margin-top: 20px;
      border: 2px solid black;
      padding: 10px 20px 20px;
      .item {
        font-weight: bold;
      }
    }
    .links {
      display: flex;
      margin-top: 20px;
      .link {
        color: black;
        padding-right: 15px;
        font-weight: bold;
      }
    }
  }
}
.app {
  height: 100vh;
  border-top: 1px solid black;
}
.contact {
  height: 100vh;
  border-top: 1px solid black;
}
.showbtns {
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
  .showbtn {
    margin-bottom: 40px;
    cursor: default;
  }
}